<div class="container">
  <div class="back">
    <a mat-raised-button routerLink="/list">Back</a>
  </div>
  <br />
  <div class="details">
    <div class="name">
      <h1>Test</h1>
    </div>
    <div>
      <span class="brand">KitKat</span>
    </div>
    <br />
    <div class="prices">
      <table class="myTable">
        <tr>
          <th>position</th>
          <th>price</th>
          <th>amount</th>
          <th>link</th>
        </tr>
        <tr>
          <td>1</td>
          <td>df</td>
          <td>gffd</td>
          <td>fgdg</td>
        </tr>
        <tr>
          <td>1</td>
          <td>df</td>
          <td>gffd</td>
          <td>fgdg</td>
        </tr>
        <tr>
          <td>1</td>
          <td>df</td>
          <td>gffd</td>
          <td>fgdg</td>
        </tr>
        <tr>
          <td>1</td>
          <td>df</td>
          <td>gffd</td>
          <td>fgdg</td>
        </tr>
      </table>
    </div>
  </div>
</div>
