<div class="container">
  <div class="list">
    <h1 class="heading">Chocolate List</h1>
    <span>
      <mat-card>
        <mat-card-title>Test</mat-card-title>
        <mat-card-content>
          <ul>
            <li>Brand : <span class="list-data">kitkat</span></li>
            <li>Lowest price per 100g : <span class="list-data">30</span></li>
            <li>Average price per 100g : <span class="list-data">3</span></li>
            <li>
              Cheapest Shop :<a href="https://example.com/rs-sesam-rs"
                ><span class="list-data">Rewe</span></a
              >
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">Details</button>
        </mat-card-actions>
      </mat-card>
      <br />

      <mat-card>
        <mat-card-title>Test</mat-card-title>
        <mat-card-content>
          <ul>
            <li>Brand : <span class="list-data">kitkat</span></li>
            <li>Lowest price per 100g : <span class="list-data">30</span></li>
            <li>Average price per 100g : <span class="list-data">3</span></li>
            <li>
              Cheapest Shop :<a href="https://example.com/rs-sesam-rs"
                ><span class="list-data">Rewe</span></a
              >
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">Details</button>
        </mat-card-actions>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-title>Test</mat-card-title>
        <mat-card-content>
          <ul>
            <li>Brand : <span class="list-data">kitkat</span></li>
            <li>Lowest price per 100g : <span class="list-data">30</span></li>
            <li>Average price per 100g : <span class="list-data">3</span></li>
            <li>
              Cheapest Shop :<a href="https://example.com/rs-sesam-rs"
                ><span class="list-data">Rewe</span></a
              >
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">Details</button>
        </mat-card-actions>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-title>Test</mat-card-title>
        <mat-card-content>
          <ul>
            <li>Brand : <span class="list-data">kitkat</span></li>
            <li>Lowest price per 100g : <span class="list-data">30</span></li>
            <li>Average price per 100g : <span class="list-data">3</span></li>
            <li>
              Cheapest Shop :<a href="https://example.com/rs-sesam-rs"
                ><span class="list-data">Rewe</span></a
              >
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">Details</button>
        </mat-card-actions>
      </mat-card>
    </span>
  </div>
</div>
